.bannerTextWrap {
  /* background-color: var(--primary); */
  top:25%;
  font-family: 'Oswald', sans-serif;
}

h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  text-transform: uppercase;
}

span.uptoText {
  font-size: 1rem;
  text-transform: uppercase;
  display: block;
  position: relative;
  width: 40%;
  margin: auto;
  margin-bottom: 20px;
}

span.uptoText::before {
  content: '';
  width: 23%;
  height: 2px;
  position: absolute;
  left: 20%;
  top: 0;
  bottom: 0;
  background: #fff;
  text-align: center;
  margin: auto;
  z-index: -1;
}

span.uptoText::after {
  content: '';
  width: 23%;
  height: 2px;
  position: absolute;
  left:57%;
  /* right: 0; */
  top: 0;
  bottom: 0;
  background: #fff;
  text-align: center;
  margin: auto;
  z-index: -1;
}

span.offText {
  font-size: 4rem;
  text-transform: uppercase;
  display: block;
  font-weight: 800;
  margin-bottom: 50px;
}

.shopNowButtonWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.shopNowButtonWrap div {
  background-color: gold;
  height:40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
}

.shopNowButton {
  background-color: #FBF9FA;
  border:0px;
  color:#6F6F6F;
  text-transform: uppercase;
  font-size: 1rem;
  border-radius: 0;
  
}